@import "../../../theme.scss";

:host {
  display: block;
  padding: 1rem 0;
}
.book-list {
  margin: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Fixed 5 columns */
  gap: 15px; /* Space between grid items */
}

.book-item {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px 5px; /* Adjust padding as necessary */
  text-align: center; /* Center text */
  background-color: #fff; /* Background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.2s; /* Smooth scale effect */
  color: #000;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  h3 {
    font-size: 1rem; /* Adjust title size */
    margin: 5px 0; /* Space above and below the title */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 0.9rem; /* Smaller font size for description */
    margin: 3px 0; /* Reduced margin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .book-image {
    width: 100%; /* Make image responsive */
    height: 70%;
    border-radius: 4px; /* Optional: rounded corners */
    max-height: 120px; /* Set a maximum height for images */
    flex-grow: 1;
  }
}

.book-item:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}

.buy-button {
  padding: 8px 12px; /* Button size */
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px; /* Space above the button */
  font-size: 0.9rem; /* Smaller font size */
}

.buy-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 8px 12px; /* Button size */
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

mat-form-field {
  width: 500px;
  margin: 0 auto;
  display: block;
}

mat-card {
  width: max-content;
  margin-bottom: 1rem;
  mat-card-content {
    font-size: 1.5rem;
  }
}

mat-accordion {
  mat-panel-title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: $dark-accent-A200;
  }

  mat-panel-description {
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  table {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .mat-mdc-header-cell {
      font-style: italic;
      font-size: 1.2rem;
    }

    .mat-mdc-cell {
      font-size: 1.2rem;
    }
  }
}
