<mat-tab-group (selectedTabChange)="changeTab($event)" animationDuration="0ms">
  <mat-tab [label]="getTextTab(1)">
    @if (pendingRecords.length > 0) {
    <page-table
      [columns]="columns"
      (action)="action($event)"
      [dataSource]="pendingRecords"
    >
    </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>

  <mat-tab [label]="getTextTab(2)">
    @if (borrowingRecord.length > 0) {
    <page-table
      (action)="action($event)"
      [columns]="columns"
      [dataSource]="borrowingRecord"
    >
    </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>

  <mat-tab [label]="getTextTab(3)">
    @if (returnedRecord.length > 0) {
    <page-table
      (action)="action($event)"
      [columns]="columns"
      [dataSource]="returnedRecord"
    >
    </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>
</mat-tab-group>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
