<h2 mat-dialog-title>Modify Book</h2>

<mat-dialog-content class="mat-typography" [formGroup]="bookForm">
  <mat-grid-list cols="3" rowHeight="80px" [gutterSize]="'10px'">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="number" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Image link</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="1">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="categories" multiple>
          @for (option of availableCategories; track availableCategories) {
          <mat-option [value]="option.id">
            {{ option.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="2">
      <mat-form-field class="description" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button (click)="onCancel()" color="warn">Close</button>
  <button mat-flat-button (click)="onSubmit()" color="primary">Agree</button>
</mat-dialog-actions>
