mat-card {
  width: max-content;
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    padding: 8px 12px; /* Button size */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
}
