<mat-tab-group animationDuration="0ms">
  <mat-tab [label]="getTextTab(1)">
    @if (pendingRecords.length > 0) {
    <page-table [columns]="columns" [dataSource]="pendingRecords"> </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>

  <mat-tab [label]="getTextTab(2)">
    @if (borrowingRecord.length > 0) {
    <page-table [columns]="columns" [dataSource]="borrowingRecord">
    </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>

  <mat-tab [label]="getTextTab(3)">
    @if (returnedRecord.length > 0) {
    <page-table [columns]="columns" [dataSource]="returnedRecord"> </page-table>
    } @else {
    <mat-card>
      <mat-card-content>
        <h2>No Data!</h2>
      </mat-card-content>
    </mat-card>
    }
  </mat-tab>
</mat-tab-group>
